.advantages {
   margin-bottom: 72px;
}
.advantages__header {
   color: #21201f;
   font-size: 32px;
   font-style: normal;
   font-weight: 900;
   line-height: 100%;
   letter-spacing: -0.64px;
   margin-bottom: 54px;
}
.advantages__list {
   color: #21201f;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 120%;
}
.advantages__list-item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 24px;
}
.advantages__list-item:last-child {
   margin-bottom: 0;
}
.advantages-item__img {
   width: 100%;
   max-width: 83px;
   margin-right: 16px;
}
.advantages-item__text {
   max-width: 400px;
}
@media (min-width: 1024px) {
   .advantages {
      margin-bottom: 128px;
   }
   .advantages__header {
      font-size: 56px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -1.12px;
      margin-bottom: 48px;
   }
   .advantages__list {
      font-size: 24px !important;
   }
}
@media (min-width: 768px) {
   .advantages__header {
      font-size: 42px;
      max-width: 500px;
   }
   .advantages__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      font-size: 20px;
   }
   .advantages__list-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 60px;
   }
   .advantages-item__img {
      margin: 0 0 16px 0;
   }
}

@media (min-width: 480px) {
}
